﻿body {

}

.ListingControl{
    width:100%;
}

#wrapper{
    width:100%;
    overflow: hidden; /* will contain if #first is longer than #second */
}

.listingControls{
     /*float:left;*/
     position: absolute;
     top: 80px;
     left:5px;
     min-width:200px;
     max-width:25%
}

.Listings{
    top:80px;
    border-style: solid;
    border-width: 1px;
    height:100vh;
    /*overflow: hidden;*/
    float:left;
    width:100%;
}

#ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
}
