﻿body {
    padding: 60px 0px;
    background-color: #fff;
    margin-top: 50px;
}

#pagewrapper {
    display: block;
    float: right;
    width: 100%;
    padding-left: 3%;
    padding-top: 3%;
    background-color: #fff;
}

.top-nav > li {
    display: inline-block;
    float: left;
}

    .top-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
        color: #999;
    }

.side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
}

    .side-nav > li > a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }


    .side-nav > li > ul {
        padding: 0;
    }

        .side-nav > li > ul > li > a {
            display: block;
            padding: 10px 15px 10px 38px;
            text-decoration: none;
            color: #999;
        }

            .side-nav > li > ul > li > a:hover {
                color: #fff;
            }

.navbar-brand {
    font-size: 20px;
}

.button-hidden {
    padding: 0;
    border: none;
    background: none;
}

.navbar.navbar-inverse form[role="search"] {
    position: absolute;
    top: 8px;
    right: 0px;
    left: 70px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    z-index: 0;
}

    .navbar.navbar-inverse form[role="search"] input {
        border-radius: 0px;
        border-width: 0px;
        background-color: rgb(248, 248, 248);
        border-color: rgb(231, 231, 231);
        box-shadow: none;
        outline: none;
        text-decoration: none;
    }

    .navbar.navbar-inverse form[role="search"] input {
        padding: 16px 12px;
        font-size: 14pt;
        font-style: italic;
        color: rgb(160, 160, 160);
        box-shadow: none;
    }

.navbar.navbar-inverse form[role=search] ul {
    width: 60%;
}

.panel-body {
    max-height: 600px;
    overflow-y: scroll;
}

.FixedHeader {
    position: absolute;
    font-weight: bold;
}
